<app-nav-bar></app-nav-bar>

<div class="contenedor">
    <div class="marcaBox">
         <p class="marca">
             Coral
         </p>
         <hr class="lineaInferior">
         <div class="boxDeSeleccion corto">
             <button routerLink="/contacto" class="pestaña">Contacto</button>
             <button routerLink="/quienesSomos" class="pestaña">Sobre nosotros</button>
             <button routerLink="/preguntasFrecuentes" class="pestaña">Preguntas frecuentes</button>
             <button routerLink="/terminos" class="pestaña">Terminos y condiciones</button>
             <button routerLink="/devoluciones" class="pestaña  seleccion">Politica de devoluciones</button>
         </div>
     </div>
 
     <div class="itemBox">
         <p class="item">
             Politica de devoluciones.
         </p>
         <hr class="lineaInferior">
         <div class="boxDeSeleccion informacionDeContacto largo">
             <p class="subtitulo">¿CUÁNTO TIEMPO TENGO PARA HACER UN CAMBIO?</p>
             <p class="informacion">
                Tienes hasta siete (7) días consecutivos 
                desde la recepción del producto para realizar 
                el cambio deseado. El producto adquirido debe presentar 
                las mismas condiciones en las que fue recibido o comprado, 
                en perfectas condiciones y envase original. Para hacer efectivo 
                el cambio es obligatorio llevar la factura impresa.
             </p>

             <p class="subtitulo">¿REALIZAR UN CAMBIO TIENE COSTO?</p>
             <p class="informacion">
                Los cambios de los productos son 
                gratuitos sin incluir el costo del envío de los mismos. 
                Si el motivo del cambio es un error de despacho, el mismo no tendrá un costo asociado.
             </p>

             <p class="subtitulo">ALGO QUE COMPRÉ NO ME SATISFACE UN 100%, ¿PUEDO CAMBIARLO?</p>
             <p class="informacion">
                Sí. Todo lo que compres puedes cambiarlo a menos que se trate de productos 
                identificados como OFERTA cuyos cambios estarán condicionados 
                a disponibilidad de stock. 
                En caso de querer cambiar por otro producto, podrás hacerlo eligiendo 
                cualquier artículo de los que estén en el local. 
                Si el nuevo producto elegido tiene un costo mayor, se te cobrará 
                la diferencia correspondiente. Ten en cuenta que no se realiza devolución de dinero.
             </p>

             <p class="subtitulo">¿QUÉ PASA SI RECIBO EL PRODUCTO Y ME ARREPIENTO DE MI COMPRA?</p>
             <p class="informacion">
                El usuario tendrá derecho a devolver los productos 
                adquiridos en el Sitio web, durante el plazo 7 (siete) 
                días corridos, contados a partir de la entrega del producto 
                en el domicilio indicado por el usuario, sin responsabilidad 
                alguna. ¿QUÉ PASA SI EL PRODUCTO TIENE UNA FALLA? Si el producto 
                llegara a presentar una falla de fabricación, deberás ponerte 
                en contacto con nosotros al mail informando el número del 
                pedido y el producto fallado, para que podamos indicarte los 
                pasos a seguir.
             </p>

             <p class="subtitulo">¿QUÉ PASA SI RECIBO EL PRODUCTO Y ME ARREPIENTO DE MI COMPRA?</p>
             <p class="informacion">
                El usuario tendrá derecho a devolver los 
                productos adquiridos en el Sitio web, durante 
                el plazo 7 (siete) días corridos, contados a partir 
                de la entrega del producto en el domicilio indicado por 
                el usuario, sin responsabilidad alguna.
             </p>

             <p class="subtitulo">¿QUÉ PASA SI EL PRODUCTO TIENE UNA FALLA?</p>
             <p class="informacion">Si el producto llegara a presentar 
                una falla de fabricación, deberás ponerte en 
                contacto con nosotros al mail informando el 
                número del pedido y el producto fallado, 
                para que podamos indicarte los pasos a seguir.
            </p>
         </div>  
     </div>
 </div>

 <app-footer></app-footer>

