body{
    padding: 8%;
    z-index: -1;
}

app-redes{
    float: right;
    margin-right: 5%;
    margin-top: 2%;
}

app-carrito{
    background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  overflow-y: scroll;
}



