   
   <div class="contenedor">
    <div class="row justify-content-center"  data-aos="fade-up"
        data-aos-duration="2000" id="titulo">

            <div class="col-7">
                <h3 data-aos="fade-up"
                data-aos-duration="2000">VEN A CONOCERNOS.</h3>
                <hr class="espacioInferior">
            </div>
        </div>
                <div class="row justify-content-between" data-aos="fade-up"
                data-aos-duration="2000">
                <div class="col-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7847.34833472591!2d-64.1082663129325!3d10.447409509743276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c326e59b083707d%3A0xfb0bbbe159cc43e3!2sVilla%20Cristobal%20Colon%2C%20Cuman%C3%A1%206101%2C%20Sucre!5e0!3m2!1ses!2sve!4v1682974559912!5m2!1ses!2sve"
                     width="90%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
            </div>
                    <div class="col-4">
                <p id="informacion">
                    Estamos ubicados en La Villa Cristobal Colon, Cumana Edo. Sucre.
                     Encuentra nuestros productos tambien en supermercados y comercios aliados.
                     <br>
                     ¡Ven a visitarnos y prueba nuestros productos!
                </p>
            </div>
        </div>
            
            



        <button class="btn btn-lg btn-outline-dark"    data-aos="fade-up"
        data-aos-duration="2000">
            Cómo llegar 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 17 17">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"/>
                </svg>
            </button>
    </div>

