
    <div class="carrito">

      <div class="cabecera">
      <p>
          Carrito de compras.
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-x" viewBox="0 0 16 16" (click)="cerrarCarrito()">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
      </p>
      </div>

      <div class="cuerpo">
      <div class="items" *ngFor="let producto of productos">
        <img src="{{producto.imagen}}" alt="imagen del producto" class="imagen-item">
        <p class="descripcion">{{producto.descripcion}}</p>
        <div class="cantidad">
        <p id="cant">Cant:</p>
        <input type="number" class="cantidad-items" [(ngModel)]="producto.cantidad">
        <p id="precio-unitario">Precio unit. {{producto.oferta}} USD</p>
      </div>

      </div>

      <div class="total-compra">
        <p *ngIf="hayProductos === true">Total {{sumaProducto()}} USD</p>
      </div>
        <button class="btn" *ngIf="hayProductos === true" routerLink="/pasareladepago">
        FINALIZAR COMPRA
        </button>

        <div class="sin-productos" *ngIf="hayProductos === false">
          <p>¡Los productos que agregues al carrito podrás visualizarlos acá!</p>
        </div>
      </div>
    </div>

