<div class="row justify-content-center">
    <header data-aos="fade-up"
    data-aos-duration="2000">CONTACTANOS</header>
    <P data-aos="fade-up"
    data-aos-duration="2000">¿Quieres trabajar con nosotros o probar nuestros productos?</P>

    <div class="col-8">
    <form id="form" class="topBefore" data-aos="fade-up"
    data-aos-duration="2000">
            
            <input id="name" type="text" placeholder="NOMBRE">
            <input id="name" type="number" placeholder="TELEFONO">
            <input id="email" type="text" placeholder="E-MAIL">
            <textarea id="message" type="text" placeholder="MENSAJE"></textarea>
    <input id="submit" type="submit" value="¡ENVIAR!">
    
    </form>
</div>
</div>