.contenedor{
    position: fixed;
    
}

svg{
    display: block;
    margin-top: 8%;
    color: black;
    width:45% ;
    height: 45%;
    min-width: 28px;
    min-height: 28px;
}

.instagram{
fill: rgb(143, 19, 180);
}

.facebook{
    fill: rgb(3, 3, 141);
}

.whatsapp{
    fill: rgb(9, 100, 9);
}

