<app-nav-bar></app-nav-bar>

<div class="contenedor">
    <div class="marcaBox">
         <p class="marca">
             Coral
         </p>
         <hr class="lineaInferior">
         <div class="boxDeSeleccion corto">
             <button routerLink="/contacto" class="pestaña">Contacto</button>
             <button routerLink="/quienesSomos" class="pestaña">Sobre nosotros</button>
             <button routerLink="/preguntasFrecuentes" class="pestaña   seleccion">Preguntas frecuentes</button>
             <button routerLink="/terminos" class="pestaña">Terminos y condiciones</button>
             <button routerLink="/devoluciones" class="pestaña">Politica de devoluciones</button>
         </div>
     </div>
 
     <div class="itemBox">
         <p class="item">
             Preguntas frecuentes.
         </p>
         <hr class="lineaInferior">
         <div class="boxDeSeleccion informacionDeContacto largo">
             <p class="subtitulo">¿Como hago para relizar mi compra?</p>
             <p class="informacion">
                Ingresa al sitio www.coralproject-fa23d.web.app y elije los 
                productos que necesites. Seleccionalos y agregalos a tu carrito de compras. 
                Una vez completo el carrito, podes presionar el botón “Comprar” donde iniciarás 
                el proceso de compra. Recuerda que para retirar tu compra tienes que presentar la factura.
             </p>

             <p class="subtitulo">COMPRÉ CON ENVÍO A DOMICILIO ¿CUANDO LLEGARÁ MI PEDIDO?</p>
             <p class="informacion">
                ¡Realizamos envíos a domicilio a toda Cumaná! Puedes seguir comprando 
                online desde tu casa. Si realizaste una compra con envío a domicilio 
                y desea saber el estado del mismo, puedes acceder a esta información 
                logueadote en 'Mi cuenta' o enviando la solicitud para coordinar 
                el envío en +58 412-1011912. Promoción de envío gratis: Aplica únicamente 
                a compras con precio final mayor a 30 USD.
             </p>

             <p class="subtitulo">¿CUÁNTO TIEMPO TENGO PARA RETIRAR MI PEDIDO EN SUCURSAL?</p>
             <p class="informacion">
                Tienes 30 días para retirar tu pedido luego de efectuada la compra.
             </p>
                 
             <p class="subtitulo">¿CÓMO ME REGISTRO EN LA PAGINA?</p>
             <p class="informacion">
                Puedes registrarte si eres mayor de edad. 
                Sólo tienes que completar el formulario con tus 
                datos personales hacinedo click en el botón de 
                'Mi Cuenta' y luego 'Crear cuenta'. Luego el sistema 
                generará un usuario y contraseña con los que podrás ingresar 
                en las visitas futuras.
             </p>

             <p class="subtitulo">¿MIS DATOS PERSONALES ESTÁN SALVAGUARDADOS?</p>
             <p class="informacion">
                Sí. Cada usuario dispondrá en 
                todo momento de los derechos de acceso a la información, 
                rectificación y cancelación de sus datos personales conforme a 
                la Ley Nº 25.326 sobre protección de datos de carácter personal. 
                Asimismo, si deseas modificar tu información personal, lo puedes hacer 
                ingresando a la opción 'Mi Cuenta' y seleccionando alguna de las opciones 
                del menú para modificar los datos que ingresaste cuando te registraste en el sitio.
             </p>

             <p class="subtitulo">¿CUÁLES SON LAS FORMAS DE PAGO DISPONIBLES?</p>
             <p class="informacion">
                Tarjetas de Crédito y Débito: 
                Operamos con las principales marcas de tarjetas disponibles en el 
                mercado venezolano. Puedes ver cuales están disponibles al momento de realizar tu compra
            </p>

            <p class="subtitulo">¿CÓMO HAGO PARA SABER EL ESTADO DE MI PEDIDO?</p>
            <p class="informacion">
                Puedes hacerlo llamando al  +58 412-1011912 de 
                lunes a viernes de 8:00 - 12:00 / 15:30 - 19:30 hs. 
                y los sábados de 8:00 - 12:00 hs.
            </p>
         </div>  
     </div>
 </div>

 <app-footer></app-footer>
