   <div class="container">
   <div class="row justify-content-between">
        <div class="col-5">
        <h2>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi harum laudantium optio mollitia accusantium non inventore libero? Odit, nemo, vel quasi ab in rerum, ex doloremque fuga sunt libero quos?
        </h2>
        </div>
        <div class="col-5">
            <img src="https://i.ibb.co/MRRW6zH/productos-de-limpieza2.jpg" alt="productos-de-limpieza2" id="limpieza1">
        </div>
    </div> 
</div> 
