@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@1&display=swap');


p{
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    font-size: 140%;
    font-weight: 600;
    text-align: center;
    align-items: center;
    color: whitesmoke;
    margin-top: 2%;
}

img{
    height: 70vh;
    max-height: 500px;
    margin: 0 0 0 5.6%;
    object-fit: fill;
}

@media only screen and (max-width:576px) {
    img{
        object-fit: cover;
    }
}

.carousel{
    margin-top: -8%;
    z-index: 0;
}

.carousel-item{
    width: 90%;
}



.text-block{
    margin: 2% auto 0;
    width: 90%;
    height: 5vw;
    min-height: 60px;
    background-color: rgba(49, 21, 102, 0.8);
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: center;
}


