@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@1&display=swap');

h2{
    color: #1c1c1c;
    font-family: Playfair Display;
    font-size: 48px;
}

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

.limpieza1{
    width: 70%;
    height: 50vh;
    border-radius: 30px;
}

#primero{
    margin-top: -5%;
    margin-left: -8%;
    z-index: 0;
}

#segundo{
    margin-left: 40%;
    margin-top: -20%;
    z-index: -1;
}