   <div class="container">
   <div class="row justify-content-between">
        <div class="col-5">
            <div data-aos="fade-up"
            data-aos-duration="2000">
        <h2>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi harum laudantium optio mollitia accusantium non.
        </h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores deleniti sapiente qui aliquid tempora atque quis. Sequi facilis explicabo assumenda delectus optio laborum at, officiis deserunt! Dolor cum laudantium necessitatibus.</p>
    </div>
    </div>
        <div class="col-6">
            <img src="https://i.ibb.co/MRRW6zH/productos-de-limpieza2.jpg" alt="productos-de-limpieza2" class="limpieza1" id="primero" data-aos="fade-up" data-aos-duration="2000">
            <img src="https://i.ibb.co/qrZt8CT/limpieza4.jpg" alt="limpieza4" class="limpieza1" id="segundo" data-aos="fade-up" data-aos-duration="2000">
        </div>
    </div> 
</div> 

