<div id="carouselExampleAutoplaying" class="carousel carousel-dark slide" data-bs-ride="carousel">
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.ibb.co/b2fkTbv/stanhome.jpg" alt="stanhome" border="0" class="d-block w-100">
      </div>
      <div class="carousel-item ">
        <img src="https://i.ibb.co/7XLcTbx/LOGO-CORAL-COLOR-JPG.jpg" alt="LOGO-CORAL-COLOR-JPG" border="0" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="https://i.ibb.co/n0HN5LB/Multiclean.jpg" alt="Multiclean" border="0" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="https://i.ibb.co/LxN0sg2/servicio-Limpieza.webp" alt="servicio-Limpieza" border="0" class="d-block w-100">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="text-block">
    <p>Nuestros productos</p>
  </div>

