<app-nav-bar></app-nav-bar>

<div class="contenedor">
    <div class="marcaBox">
         <p class="marca">
             Coral
         </p>
         <hr class="lineaInferior">
         <div class="boxDeSeleccion corto">
             <button routerLink="/contacto" class="pestaña">Contacto</button>
             <button routerLink="/quienesSomos" class="pestaña">Sobre nosotros</button>
             <button routerLink="/preguntasFrecuentes" class="pestaña">Preguntas frecuentes</button>
             <button class="pestaña  seleccion">Terminos y condiciones</button>
             <button routerLink="/devoluciones" class="pestaña">Politica de devoluciones</button>
         </div>
     </div>
 
     <div class="itemBox">
         <p class="item">
             Terminos y condiciones.
         </p>
         <hr class="lineaInferior">
         <div class="boxDeSeleccion informacionDeContacto largo">
             <p class="informacion">
                Los términos y condiciones generales referidos a continuación,
                 rigen exclusivamente las relaciones contractuales entre todo usuario,
                  registrado o no (denominado en adelante “Usuario”)
                   que accede al Sitio Web www.coralproject-fa23d.web.app (en adelante "Website”)
                    y el propietario del Sitio Web.
                     El Usuario que accede a Website está obligado a conocer, aceptar y se compromete 
                     a respetar los Términos y Condiciones Generales. En consecuencia, 
                     todas las visitas y cada uno de los contratos y transacciones que se
                      realicen en este sitio, como asimismo sus efectos jurídicos,
                       entre los Usuarios y Productos Coral, quedarán regidos
                        por estas reglas y sometidas a la legislación aplicable en la República 
                        Bolivariana de Venezuela. IMPORTANTE: Antes de cada contratación, el Usuario deberá leer, 
                        entender y aceptar todas las condiciones establecidas en los Términos y 
                        Condiciones Generales y en las Políticas 
                        de Privacidad de Productos Coral.
                </p>

                <p class="subtitulo">1. ACEPTACION DE TERMINOS Y CONDICIONES.</p>

                <p class="informacion">
                    Los presentes Términos y Condiciones tienen carácter obligatorio y vinculante. 
                    Se aplican exclusivamente a todas las compras y actividades realizadas mediante 
                    el Sitio Web, no a las adquisiciones realizadas de modo presencial en el local de PRODUCTOS CORAL. 
                    El uso del Sitio implica el conocimiento y la aceptación de ellos. Si usted no está de acuerdo 
                    con los Términos y Condiciones, deberá abstenerse de utilizar el Sitio Web y/o los servicios por 
                    él ofrecidos. Por “Usuario” del Sitio Web se entiende a todas aquellas personas que utilicen el 
                    Sitio Web, estén o no registrados en el mismo.
                </p>

                <p class="subtitulo">2. MODIFICACIÓN DE LOS TÉRMINOS Y CONDICIONES.</p>
                <p class="informacion">
                    CORAL podrá, a su exclusivo criterio, sustituir o 
                    modificar los Términos y Condiciones en cualquier momento, 
                    sin necesidad de requerir el consentimiento de los Usuarios. 
                    Para las transacciones en curso que hayan comenzado con anterioridad 
                    a dichas modificaciones, subsistirán las condiciones vigentes al 
                    momento de su concertación, a menos que las nuevas modificaciones 
                    introducidas fueran más convenientes para el Usuario. Los Términos y 
                    Condiciones, así como sus modificaciones son vigentes en forma inmediata 
                    a su publicación en el Sitio Web. En caso de no aceptar algún cambio o modificación en 
                    las Condiciones de Uso, deberá cesar inmediatamente en la utilización del Sitio y/o los 
                    Servicios.
                </p>

                <p class="subtitulo">3. CAPACIDAD.</p>
                <p class="informacion">
                    Para utilizar los servicios del Sitio Web se requiere tener capacidad legal para 
                    contratar conforme lo establecido por la normativa vigente. No podrán acceder a 
                    los servicios quienes carezcan de ella, los que hayan sido suspendidos o inhabilitados, 
                    ni los menores de edad. Los padres, tutores o responsables de los menores de edad o 
                    incapaces que utilicen el Sitio Web serán responsables por dicho uso, incluyendo cualquier 
                    cargo, facturación o daño que se derive de él. En caso de actuar en representación de una 
                    persona jurídica, el usuario debe contar con capacidad para contratar a nombre de 
                    tal entidad y de obligar a la misma en los términos de este documento. 
                    Si el Usuario no contare con tales facultades, o actuare en exceso de las mismas, 
                    se entenderá que se ha comprometido también a título personal.
                </p>

                <p class="subtitulo">4. REGISTRO.</p>
                <p class="informacion">
                    Los Usuarios pueden navegar libremente por el Sitio Web. 
                    Deberán estar registrados para poder realizar alguna compra. 
                    El registro de los Usuarios se realiza ingresando al Sitio Web, 
                    y no tiene costo alguno. Para registrarse, es obligatorio completar 
                    el formulario de registro en todos los campos con datos 
                    válidos y verdaderos, de manera exacta y precisa. Para un correcto 
                    funcionamiento del sistema, es necesario que los Usuarios mantengan 
                    sus datos actualizados en el Sitio Web. CORAL podrá proceder a 
                    verificar la identidad del Usuario y/o de los datos consignados por 
                    éste. CORAL no se responsabiliza por la veracidad o certeza de los 
                    datos provistos por los Usuarios. Asimismo, CORAL se reserva el 
                    derecho de suspender temporal o definitivamente a los Usuarios en caso 
                    de incumplimiento de los Términos y Condiciones, como así también de 
                    rechazar solicitudes y/o pedidos realizados. Los Usuarios accederán a 
                    su Cuenta Personal (la “Cuenta”) mediante un nombre de Usuario y una clave 
                    personal que deberán escoger. En caso de que estos datos sean olvidados 
                    por el Usuario, CORAL cuenta con un servicio de ayuda para recuperarlos. 
                    Para esto se deberá hacer “click” en la opción correspondiente e ingresar 
                    el e-mail que se proporcionó al momento del registro. Al finalizar, 
                    el sistema le enviará de manera confidencial a esa cuenta su nombre de 
                    Usuario y la clave personal. Así como CORAL se compromete a 
                    mantener la confidencialidad de los datos aportados por los Usuarios 
                    para su registro, los Usuarios se comprometen a mantener la confidencialidad 
                    de su nombre y clave de acceso. De conformidad con lo expresado 
                    en el párrafo anterior, los Usuarios son responsables del uso que 
                    se haga de su clave y deberán tener presente que, si otras personas 
                    tienen o pueden tener en el futuro acceso a la cuenta de e-mail 
                    consignada como propia en el formulario de registro, éstas 
                    también podrían solicitar su clave de acceso y nombre de Usuario. 
                    Es obligación exclusiva del Usuario tomar las medidas pertinentes 
                    para que esto no suceda. El Usuario se compromete a notificar 
                    inmediatamente y de manera fehaciente a CORAL cualquier 
                    uso no autorizado de su Cuenta de Usuario, y a mantenerlo 
                    indemne en el caso de que esto produzca algún daño a la Empresa 
                    o a terceros. www.coralproject-fa23d.web.app se reserva el derecho 
                    de rechazar cualquier solicitud de registro o de cancelar 
                    uno previamente aceptado, sin que esté obligado 
                    a comunicar o exponer las razones de su decisión y sin que 
                    ello genere algún derecho a indemnización o resarcimiento a 
                    favor del Usuario.
                </p>
                 
         </div>  
     </div>
 </div>

 <app-footer></app-footer>
