.contenedor{
    display: flex;
    padding: 4%;
  }
  
  .marca{
    font-weight: 600;
    font-size: 130%;
  }
  
  .item{
    font-weight: 700;
    font-size: 130%;
  }
  
  .marcaBox{
    width: 30%;
    height: 70vh;
    padding: 1%;
  
  }
  
  .itemBox{
  width: 70%;
  height: fit-content;
  padding: 1%;
  }
  
  .lineaInferior{
    width: 80%;
  }

  @media only screen and (max-width:576px) {
    .boxDeSeleccion{
      font-size: 80%;
      min-width: 94px;
    }
  
    .seleccion{
      height: 9% !important;
    }

    .corto{
      height: fit-content !important;
    }

    .largo{
      width: 250px !important;
    }
  }
  
  
  .boxDeSeleccion{
    background-color: rgb(218, 217, 217);
    width: 80%;
    height: 80%;
    border-radius: 10px;
    padding: 5%;
  }
  
  .pestaña{
    border: none;
    background-color: rgb(218, 217, 217);
    display: block;
    margin: 0 0 14% 0;
    font-weight: 600;
    padding: 0 0 0 10%;
    text-align: left;
  }

  .pestaña:hover:not(.seleccion){
   color: #5725b4;
  }
  
  .seleccion{
    background-color: #311566;
    color: whitesmoke;
    width: 100%;
    height: 14%;
    text-align: left;
    border-radius: 5px;
    padding: 0 0 0 10%;
  }
  
  .subtitulo{
    font-weight: 800;
    color: #311566;
    margin: 0 0 4% 0;
  }
  
  .informacionDeContacto{
    padding: 3%;
    color: rgba(49, 21, 102, 0.9);
    height: 55%;
  }
  
  .informacion{
    color: #000;
    font-weight: 450;
  }
  
  .sin-margen-sup{
    margin-top: -2%;
  }
  
  .mitadDelBox{
    width: 45%;
    height: 40%;
    float: left ;
  }
  
  .mitadDerecha{
  margin: 0 0 0 5%;
  }
  
  .llevar-al-fondo{
    margin-top: 41%;
  }

  .valores{
    margin-top: -2%;
    font-weight: 550;
  }