@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@1&display=swap');

.row{
    margin: 20% auto;
}

h2{
    display: flex;
    font-family: Playfair Display;
    justify-content: center;
    margin-bottom: 8%;

}

#imagenCoral{
    width: 90%;
    height: 45vh;
}

#informacion{
    font-size: large;
    font-style: italic;
    font-weight: 400;
}