@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

.row{
    margin: 20% auto;
}

h2{
    display: flex;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    margin-bottom: 8%;
    font-style: italic;
}

#imagenCoral{
    width: 90%;
    height: 45vh;
}

#informacion{
    font-size: large;
    font-style: italic;
    font-weight: 400;
}