@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

.contenedor{
   width: 20%;
   height: 40vh;
   display: block;
   margin: 10% auto;
}

.error{
    margin: 10% auto;
    text-align: center;

}

#titulo{
    font-size: 10vh;
    font-style: italic;
    font-weight: 800;
}

#subtitulo{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 3vh;
}

#texto{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 2.5vh;
}